on:
  push:
    branches: 
      - master

jobs:

  build:

    runs-on: ubuntu-18.04


    steps:

    - uses: actions/checkout@v2
      
    - name: Use Java8
      uses: actions/setup-java@v1
      with:
          java-version: 1.8

    # - name: Build debug apk
    #   run: gradle/gradlew clean assembleDebug

    - name: Create release and upload apk
      uses: underwindfall/create-release-with-debugapk@v2.0.0
      
          token: ${{ secrets.TOKEN }}
      with:
        tag_name: v1.0.0
        asset_path: build/app/outputs/apk/debug
        asset_name: Example.apk
        asset_content_type: application/zip